extends layout

block content

  h1 #{post.title}
  div(style='display: flex; flex-direction: column; justify-content: center; gap: 1em')
    if user
        if user.membership || user.email == post.poster.email
            a(style='text-decoration: none; color: black; ' href=post.poster.url) <strong>Poster</strong>: #{post.poster.email}
            p <strong>Posted on</strong>: #{post.timestamp_formatted}
        else
            p <strong>Poster</strong>: Hidden
            p <strong>Posted on</strong>: Hidden
    else
        p <strong>Poster</strong>: Hidden
        p <strong>Posted on</strong>: Hidden

    p #{post.message}
        
    if user    
        if post.poster.email == user.email
            div(style='display: flex; justify-content: center')
                button
                    a(href=`${post.url}/update` style='text-decoration: none; color: black') Update Post
    else
       
    if user
        if (user.email == post.poster.email || user.admin)
            div(style='display: flex; justify-content: center')
                button
                    a(href=`${post.url}/delete` style='text-decoration: none; color: black') Delete Post
    else

